HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

/orders-0.0.1-SNAPSHOT.jar
/logs.log
/logs.log.2020-05-05.029089232104653.tmp
/logs.log.2020-05-06.0.gz
/orders-0.0.1-SNAPSHOT.jar
